<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.koolcloud.pos"
    android:versionCode="42"
    android:versionName="3.1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <supports-screens 
        android:largeScreens="true"
        android:normalScreens="true" 
        android:anyDensity="true"
        android:smallScreens="true">
        
 	</supports-screens>
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <!-- Baidu push services -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CYNOVO_DRIVER" />
    <uses-permission android:name="android.permission.KOOLCLOUD_MISPOS" />
    <uses-permission android:name="android.permission.KOOLCLOUD_MSR" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PRINTER" />
    <uses-permission android:name="android.permission.KOOLCLOUD_SMARTCARD" />
    <uses-permission android:name="android.permission.KOOLCLOUD_CONTACTLESS_CARD" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PINPAD" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_GET_PIN_BLOCK" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_MAC" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_ENCRYPT_DATA" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_UPDATE_MASTER_KEY" />
    <uses-permission android:name="android.permission.KOOLCLOUD_PIN_UPDATE_USER_KEY" />
    <uses-permission android:name="android.permission.KOOLCLOUD_LED" />
    <uses-permission android:name="android.permission.KOOLCLOUD_SAFE_MODULE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <application
        android:name="cn.koolcloud.pos.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme"
        android:persistent="true" >
        <activity
            android:name="cn.koolcloud.pos.WelcomeScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.koolcloud.pos.PayExScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/ExTheme" >
            <intent-filter>
                <action android:name="cn.koolcloud.pos.PayExScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.HomeController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.HomeController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.LoginVerifyController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.LoginVerifyController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.consumption_record.ConsumptionRecordController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.consumption_record.ConsumptionRecordController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.consumption_record.OrderDetailController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.consumption_record.OrderDetailController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.consumption_record.ConsumptionRecordSearchController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.consumption_record.ConsumptionRecordSearchController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.OthersIndexController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.OthersIndexController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.SettingsDownloadController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.SettingsDownloadController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.SetMerchIdController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.SetMerchIdController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.MerchantInfoController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.MerchantInfoController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.PaymentMechanismController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.PaymentMechanismController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.SetMachineIdController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.SetMachineIdController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.SigninController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.SigninController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.SetTransIdController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.SetTransIdController" />
        </activity>
		<activity
            android:name="cn.koolcloud.pos.controller.others.settings.ModifyPWDController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.ModifyPWDController" />
        </activity>
		<activity
            android:name="cn.koolcloud.pos.controller.others.settings.CreateUserController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.CreateUserController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.TransBatchController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.TransBatchController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.del_voucher.DelVoucherRecordSearchController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.del_voucher.DelVoucherRecordSearchController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.del_voucher.DelVoucherRecordController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.del_voucher.DelVoucherRecordController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.delivery_voucher.DelVoucherInfoController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.delivery_voucher.DelVoucherInfoController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.BalanceResultController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.BalanceResultController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.delivery_voucher.InputDelVoucherNumController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.delivery_voucher.InputDelVoucherNumController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.pay.TransAmountController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.pay.TransAmountController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.pay.PayAccountController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.pay.PayAccountController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.pay.PayMethodController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.pay.PayMethodController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.pay.CashConsumeController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.pay.CashConsumeController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.PinPadController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.PinPadController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.delivery_voucher.DelVoucherIdController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.delivery_voucher.DelVoucherIdController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.consumption_record.SingleRecordSearchController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.consumption_record.SingleRecordSearchController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.consumption_record.SingleRecordSearchByTxnIdController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.consumption_record.SingleRecordSearchByTxnIdController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.multipay.MultiPayIndex"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.multipay.MultiPayIndex" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.multipay.MultiPayRecord"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.multipay.MultiPayRecord" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.LoginController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.LoginController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.mispos.MisposController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.mispos.MisposController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.others.settings.ListUserInfoController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.others.settings.ListUserInfoController" />
        </activity>
	<activity
            android:name="cn.koolcloud.pos.controller.prepaid_card.PrepaidCardQRCodeController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.prepaid_card.PrepaidCardQRCodeController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.prepaid_card.PrepaidCardSearchResultController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.prepaid_card.PrepaidCardSearchResultController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transaction_manage.consumption_record.ConsumptionSummaryController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transaction_manage.consumption_record.ConsumptionSummaryController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.transfer.SuperTransferController"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible|stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.transfer.SuperTransferController" />
        </activity>
        <activity
            android:name="cn.koolcloud.pos.controller.dialogs.PushMessageController"
            android:theme="@style/dialog" android:launchMode="singleTop"  />
        <activity
			android:name="cn.koolcloud.pos.controller.dialogs.AboutDialog" android:theme="@style/dialog"/>
        <activity
			android:name="cn.koolcloud.pos.controller.dialogs.DevicesCheckingDialog" android:theme="@style/dialog"/>
        <activity
			android:name="cn.koolcloud.pos.controller.dialogs.ServiceCheckingDevicesDialog" android:theme="@style/dialog"/>
        <activity
			android:name="cn.koolcloud.pos.controller.dialogs.CheckingUpdateDialog" android:theme="@style/dialog"/>
        <activity
			android:name="cn.koolcloud.pos.controller.dialogs.ServiceCheckingUpdateDialog" android:theme="@style/dialog"/>
        <activity
			android:name="cn.koolcloud.pos.controller.dialogs.AlertCommonDialog" android:theme="@style/dialog"/>
        <!-- <activity
			android:name="cn.koolcloud.pos.controller.dialogs.ExitDialog" android:theme="@style/dialog"/> -->
        
        <!-- receiver -->
        <receiver android:name="cn.koolcloud.pos.receiver.LanchReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver  
		    android:name="cn.koolcloud.pos.receiver.ConnectionChangeReceiver"
		    android:label="NetworkConnection">
		    <intent-filter>
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		    </intent-filter>
		</receiver>
        
        <!-- service -->
        <service
            android:name="cn.koolcloud.pos.service.MerchService"
            android:exported="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="cn.koolcloud.pos.service.IMerchService" />
            </intent-filter>
        </service>
        <service
            android:name="cn.koolcloud.pos.service.SecureService"
            android:exported="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="cn.koolcloud.pos.service.ISecureService" />
            </intent-filter>
        </service>
        <service android:name="cn.koolcloud.pos.service.local.LocalService" />
        
         <!-- Baidu push custom receiver -->
        <receiver android:name="cn.koolcloud.pos.receiver.MyPushMessageReceiver">
            <intent-filter>
                <!-- receive push message -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- receive bind,unbind,fetch,delete messages -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        
        <!-- Baidu push necessary receiver and service -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>                   
        </receiver>
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1"  >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- push end -->
        
		<!-- Baidu Push API Key -->
        <meta-data android:name="api_key" android:value="sKzujsGvU6zmXS9fHGsE4ymO" />
    </application>

</manifest>